.container {
  display: flex;
  height: 100%;
  color: #8e8b87;
  background: #010203;

  .left-side {
    width: 52%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-side {
    width: 48%;
    overflow-y: auto;
  }
}
