<div class="tfjs-example-container centered-container">
  <section class='title-area'>
    <h1>TensorFlow.js: Reinforcement Learning</h1>
    <p class='subtitle'>Train a model to make a car drive autonomously using reinforcement learning.</p>
  </section>

  <section>
    <p class='section-head'>Instructions</p>
    <p></p>
    <ul>
      <li>
        We have already trained a model for over 6 million iterations. You can't train this model more.
        Instead you can test this model and see how great it is!

        But you can also create a model that would be stored in your browser's localstorage. To do this:
      </li>
      <li>
        Choose a hidden layer size and click "Create Model".
      </li>
      <li>
        Select training parameters and then click "Train".
      </li>
      <li>
        Note that while the model is training it periodically saves a copy of itself
        to localstorage, this mean you can refresh the page and continue training
        from the last save point. If at any point you want to start training from scratch, click
        "Delete stored Model".
      </li>
      <li>
        Once the model has finished training you can click "Test" to see if your model can drive
        autonomously. You can also click 'Stop' to pause the training after the current iteration
        ends if you want to test the model sooner.
      </li>
      <li>
        You can watch the training. But this may take long due to fact that agent needs to be trained for
        couple of hundred thousand steps to learn basics of driving. Therefore, you can also select to train without
        rendering the training.

        We already set the recommended parameters for training. But you can play around and see
        the effects of parameters.
      </li>
    </ul>
  </section>

  <section>
    <div *ngIf="modelNames.length > 1">
      <p class='section-head'>Selected model</p>
      <div>
        <select [(ngModel)]="modelSavePath">
          <option *ngFor="let model of modelNames" [value]="model.key">
            {{model.value}}
          </option>
        </select>
      </div>
    </div>

    <div>
      <p class='section-head'>Initialize Model</p>
      <div class="with-cols">
        <div class="with-rows init-model">
          <div class="input-div with-rows">
            <label class="input-label">Hidden layer size(s) (e.g.: "256", "32,64"):</label>
            <input [(ngModel)]="hiddenLayerSize"
                   [disabled]="disabledStatus.hiddenLayerSizesInput"
                   type="number"/>
          </div>
          <button (click)="createModel()"
                  [disabled]="disabledStatus.createModelButton">Create model</button>
        </div>
        <div class="with-rows init-model">
          <div class="input-div with-rows">
            <label class="input-label">Model</label>
            <input [(ngModel)]="storedModelStatus" disabled="true" readonly="true"/>
          </div>
          <button (click)="deleteStoredModel()"
                  [disabled]="disabledStatus.deleteStoredModelButton">
            Delete stored model
          </button>
        </div>
      </div>

      <p class='section-head'>Training Parameters</p>
      <div class="with-rows">
        <div class="input-div">
          <label class="input-label">Number of iterations:</label>
          <input [(ngModel)]="numberOfIterations"/>
        </div>
        <div class="input-div">
          <label class="input-label">Games per iteration:</label>
          <input [(ngModel)]="gamesPerIteration" type="number"/>
        </div>
        <div class="input-div">
          <label class="input-label">Max. steps per game:</label>
          <input [(ngModel)]="maxStepsPerGame" type="number"/>
        </div>
        <div class="with-cols">
          <div class="input-div">
            <label class="input-label">Learning rate (<i>a</i>):</label>
            <input [(ngModel)]="learningRate" type="number"/>
          </div>
          <div class="input-div">
            <label class="input-label">Discount rate (<i>&gamma;</i>):</label>
            <input [(ngModel)]="discountRate" type="number"/>
          </div>
        </div>
        <div class="with-cols">
          <div class="input-div">
            <label class="input-label">Min epsilon (<i>&epsilon;<sub>min</sub></i>):</label>
            <input [(ngModel)]="minEpsilon" type="number"/>
          </div>
          <div class="input-div">
            <label class="input-label">Max epsilon (<i>&epsilon;<sub>max</sub></i>):</label>
            <input [(ngModel)]="maxEpsilon" type="number"/>
          </div>
        </div>
        <div class="input-div">
          <label class="input-label">Render during training:</label>
          <input type="checkbox" [(ngModel)]="renderDuringTraining"/>
          <span class="note">Uncheck me to speed up training.</span>
        </div>

        <div class="buttons-section">
          <button (click)="train()"
                  [disabled]="disabledStatus.trainButton">
            {{ trainButtonText }}
          </button>
          <button (click)="test()"
                  [disabled]="disabledStatus.testButton">
            Test
          </button>
        </div>
      </div>


    </div>
  </section>

  <section>
    <p class='section-head'>Training Progress</p>
    <div class="with-rows">
      <div class="status">
        <label id="train-status">Iteration #: {{iterationStatus}}</label>
        <progress [value]="iterationProgress" max="100"></progress>
      </div>
      <div class="status">
        <label id="iteration-status">Game #: {{gameStatus}}</label>
        <progress [value]="gameProgress" max="100"></progress>
      </div>
      <div #stepsContainer></div>
    </div>
  </section>
</div>
