@import "tailwindcss";

html,
body {
	height: 100%;

	@apply bg-white dark:bg-gray-950;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}

	.main-container {
		color: #8e8b87;
		background: #010203;

		.left-side {
			width: 52%;
			align-items: center;
			justify-content: center;
		}

		.right-side {
			width: 48%;
		}
	}

	.car-game-container {
		/****************************************/
		/* common styles used for v1 through v4 */
		/****************************************/

		#stats {
			border: 2px solid black;
		}

		#controls {
			width: 28em;
			float: left;
			padding: 1em;
			font-size: 0.7em;
		}

		#controls th {
			text-align: right;
			vertical-align: middle;
		}

		#instructions {
			clear: left;
			float: left;
			width: 17em;
			padding: 1em;
			border: 1px solid black;
			box-shadow: 0 0 5px black;
		}

		#racer {
			position: relative;
			z-index: 0;
			border-top: 2px solid black;
		}

		#canvas {
			z-index: 0;
			background-color: #72d7ee;
		}

		#mute {
			width: 32px;
			height: 32px;
			background: url("/images/mute.png") 0;
			display: inline-block;
			cursor: pointer;
			position: absolute;
		}

		#mute.on {
			background-position: -32px 0px;
		}

		/**************************************************/
		/* rudimentary heads up display (only used in v4) */
		/**************************************************/

		#hud {
			position: absolute;
			z-index: 1;
			width: 100%;
			padding: 5px 0;
			font-family: Verdana, Geneva, sans-serif;
			font-size: 0.8em;
			background-color: rgba(255, 0, 0, 0.4);
			color: black;
			border-bottom: 2px solid black;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}

		#hud .hud {
			background-color: rgba(255, 255, 255, 0.6);
			padding: 5px;
			border: 1px solid black;
			margin: 0 5px;
			transition-property: background-color;
			transition-duration: 2s;
			-webkit-transition-property: background-color;
			-webkit-transition-duration: 2s;
		}

		#hud #speed {
			float: right;
		}

		#hud #current_lap_time {
			float: left;
		}

		#hud #last_lap_time {
			float: left;
		}

		#hud #fast_lap_time {
			display: block;
			width: 12em;
			margin: 0 auto;
			text-align: center;
			transition-property: background-color;
			transition-duration: 2s;
			-webkit-transition-property: background-color;
			-webkit-transition-duration: 2s;
		}

		#hud .value {
			color: black;
			font-weight: bold;
		}

		#hud .fastest {
			background-color: rgba(255, 215, 0, 0.5);
		}

		.current-state {
			position: fixed;
			bottom: 0;
			font-size: 30px;
		}
	}

	.tfjs-example-container {
		--mdc-theme-primary: #f16528;
		--mdc-theme-secondary: #fdbc35;
		padding: 60px;
		display: flex;
		flex-direction: column;

		&.centered-container {
			margin: 0 auto;
			max-width: 960px;
		}

		.with-rows {
			display: flex;
			flex-direction: column;
		}

		.with-cols {
			display: flex;
			flex-direction: row;
			gap: 5px;
		}
		.with-cols > * {
			flex: 1 1 0;
		}

		@media only screen and (min-device-width: 320px) and (
				max-device-width: 480px
			) {
			/* biome-ignore lint/style/noDescendingSpecificity: <not sure> */
			.with-cols {
				flex-direction: column;
			}
			/* biome-ignore lint/style/noDescendingSpecificity: <not sure> */
			.with-cols > * {
				flex: auto;
			}
			/* biome-ignore lint/style/noDescendingSpecificity: <not sure> */
			.tfjs-example-container {
				padding: 20px;
			}
		}

		h1 {
			margin-top: 0;
			font-weight: 300;
			font-size: 1.5em;
			margin-block-start: 0.83em;
			margin-block-end: 0.83em;
		}

		.subtitle {
			font-weight: 400;
		}

		p {
			max-width: 960px;
			line-height: 1.6em;

			&.section-head {
				font-variant: small-caps;
				text-transform: uppercase;
				letter-spacing: 0.17em;
				line-height: 1.2em;
				font-weight: 500;
				margin-top: 2em;
				margin-bottom: 1em;
				border-left: 1px solid #ef6c00;
				padding-left: 24px;
				margin-left: -24px;
				color: #818181;
			}

			&.paragraph {
				margin-top: 1em;
			}
		}

		a {
			color: #3c3c3c;
			border-bottom: 1px dotted #818181;
			display: inline-block;
			text-decoration: none;
			line-height: 1.2em;
		}

		button {
			padding: 8px 12px 8px 12px;
			font-size: 100%;
		}

		.btn-primary {
			padding: 8px 12px 8px 12px;
		}

		.btn-secondary {
			padding: 8px 12px 8px 12px;
		}

		.desc-type,
		.desc-example,
		.in-example,
		.out-example,
		.in-type,
		.out-type {
			font-family:
				Roboto Mono,
				monospace;
			display: inline-block;
			padding: 0px 6px 0px 6px;
			border-radius: 4px;
			border: 1px solid #f0f0f0;
			background-color: #e8eaf6;
		}

		.desc-example,
		.in-example,
		.out-example {
			background-color: #e8eaf6;
		}

		input {
			font-size: 100%;
		}

		code {
			padding: 2px;
			border: 1px solid #dedede;
			border-radius: 4px;
			font-size: 110%;
		}
		#app-status {
			color: blue;
			padding-bottom: 1em;
		}

		.buttons-section {
			margin-top: 12px;
		}

		.init-model {
			width: 80%;
			margin-right: 50px;
		}

		.input-div,
		.status {
			margin-top: 6px;
			margin-bottom: 12px;
		}

		label {
			min-width: 200px;
			display: inline-block;
		}

		button {
			max-width: 300px;
		}

		.note {
			font-size: 80%;
			font-style: italic;
			margin-top: -5px;
		}
	}
}
